@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin max-width {
  max-width: 990px;
  margin: 0 auto;
  box-sizing: border-box;
  @media screen and (max-width: 767px) {
    max-width: 100%;
    padding: 0 3%;
  }
}
@mixin ie11 {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}
@mixin ios {
  @supports (-webkit-touch-callout: none) {
    @content;
  }
}
@mixin mx1200 {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
@mixin mx980 {
  @media screen and (max-width: 980px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 1024px) and (min-width: 769px) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@function getsp($val) {
  $result: calc($sp-width / $sp-design-width) * $val;
  @return $result;
}
@function getspS($val) {
  $result: calc(320px / $sp-design-width) * $val;
  @return $result;
}
@function get-vw-sp($target-size) {
  @return calc($target-size / $sp-design-width) * 100 * 1vw;
}
@function get-vw($target-size) {
  @return calc($target-size / $pc-design-width) * 100 * 1vw;
}
@function get-percent($base-size, $design-width) {
  @return calc($base-size / $design-width) * 100%;
}
@function getem($base-size, $illust-lheight) {
  @return calc($illust-lheight / $base-size) * 1em;
}
