.simulator {
  &--nopadding {
    @include sp {
      max-width: 100%;
      padding: 0 !important;
    }
  }

  &__main {
    max-width: 1160px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    @include sp {
      padding: 0 5px;
    }
  }

  &__banner {
    width: 100%;
    height: 216px;
    margin-bottom: 10px;
    @include mx1200 {
      height: auto;
    }

    img {
      width: 100%;
      height: 100%;
      @include sp {
        display: none;
      }

      &.sp {
        display: none !important;
        @include sp {
          display: block !important;
        }
      }
    }
  }

  &__item-wrapper {
    padding: 30px 0;
    position: relative;
    @include sp {
      padding: 15px 10px;
    }

    &:first-child {
      padding-top: 0;
      @include sp {
        padding-top: 15px;
      }
    }

    &.option {
      padding: 40px 0 20px;
      @include sp {
        padding-bottom: 15px;
      }
    }

    &.noborder {
      padding-bottom: 0;
      @include sp {
        padding-bottom: 15px;
      }

      &::after {
        display: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: url('/img/border-img.png') center no-repeat;
      background-size: cover;
    }
  }

  &__note {
    font-size: 20px;
    font-family: $font-noto;
    color: $red;
    text-align: center;
    @include sp {
      font-size: 16px;
      margin-top: 10px;
    }
    @include mx375 {
      font-size: 13px;
    }

    &.sp {
      display: none;
      @include sp {
        display: block;
      }
    }

    &--input {
      text-align: left;
      margin: 30px 0 0 60px;
      color: $text;
      @include sp {
        margin: 0;
        flex-direction: column;
        align-items: flex-start;
        display: none;
      }

      &.common {
        display: flex !important;
        align-items: center;
        justify-content: flex-start;
        margin-left: 40px;
        @include sp {
          align-items: flex-start;
        }
        @include mx375 {
          margin-left: 0;
        }
      }

      &.sp {
        display: none !important;
        @include sp {
          display: block !important;
        }
      }

      span {
        &.red {
          padding: 5px 20px;
          color: $white;
          margin-right: 20px;
          background-color: #9f0d0c;
          @include sp {
            margin-right: 0;
            padding: 2px 15px;
          }
        }

        &.lightred {
          color: $red;
          @include sp {
            margin-top: 5px;
          }
        }
      }
    }

    &--small {
      font-size: 16px;
      font-weight: $font-regular;
      color: $black-33;
      text-align: left;
      line-height: 30px;
      @include sp {
        font-size: 14px;
        line-height: 33px;
        margin-top: 0;
      }
    }
  }

  &__advisory-note {
    color: $white;
    min-width: 150px;
    padding: 0;
    background-color: $red;
    font-size: 21px;
    font-weight: $font-medium;
    display: none;
    text-align: center;
    @include mx980 {
      font-size: 16px;
      min-width: 120px;
    }
    @include sp {
      margin-left: 0;
      font-size: 14px;
      padding: 0 10px;
      min-width: 150px;
    }
    @include mx375 {
      min-width: auto;
    }

    &.active {
      display: block;
    }
  }

  &__title {
    font-weight: $font-bold;
    text-align: center;
    font-size: 36px;
    color: $black;
    @include sp {
      font-size: 28px;
    }
    @include mx375 {
      font-size: 20px;
    }

    &.blue {
      color: $blue;
    }
  }

  &__container {
    padding: 50px 0 40px;
    @include sp {
      padding: 50px 0 30px;
    }
    @include mx375 {
      padding: 30px 0 20px;
    }

    &--bordered {
      border: 4px solid $gray;
      padding: 30px 0;
      border-left: 0;
      border-right: 0;
      @include sp {
        padding: 0;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include sp {
      flex-direction: column;
      align-items: flex-start;
    }

    &.mt0 {
      margin-top: 0;
    }
  }

  &__input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
    @include mx980 {
      gap: 30px;
    }
    @include sp {
      flex-direction: column;
      align-items: flex-start;
      padding: 25px 0 0 35px;
      gap: 10px;
    }
    @include mx375 {
      padding: 15px 0 0;
    }

    &.flexend {
      justify-content: flex-end;
      @include sp {
        align-items: flex-end;
      }

      span {
        &.details {
          font-size: 20px;
          justify-self: end;
          color: $text;
          @include sp {
            font-size: 16px;
          }
        }
      }
    }
  }

  &__select {
    width: 45%;
    max-width: 330px;
    height: 44px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    font-weight: $font-medium;
    border: 1px solid #626262;
    background: linear-gradient(#fff, #eee);
    font-size: 18px;
    @include mx980 {
      width: 90%;
    }
    @include sp {
      max-width: 250px;
      padding: 0 10px;
      height: 40px;
    }
    @include sp {
      width: 100%;
    }

    select {
      outline: none;
      border: 0;
      padding: 0 15px;
      font-size: 20px;
      appearance: none;
      background: transparent;
      width: 100%;
      height: 100%;
      color: $text;
      @include mx980 {
        font-size: 14px;
      }
      @include sp {
        font-size: 16px;
        padding: 0 10px;
      }
      @include mx375 {
        font-size: 14px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      background: url('/img/caret-down.png') center no-repeat;
      background-size: 8px;
      height: 10px;
      width: 10px;
      right: 20px;
      top: 15px;
      @include mx980 {
        right: 10px;
      }
      @include sp {
        right: 8px;
        top: 16px;
      }
    }

    &.wrapper {
      user-select: none;
      pointer-events: none;
      opacity: 0.5;

      &.active {
        user-select: auto;
        pointer-events: auto;
        opacity: 1;
      }
    }

    &--sm {
      width: 80px;
      @include sp {
        width: 70px;
        padding: 0 10px;
      }
    }

    &.dnone {
      display: none;
    }
  }

  &__select-label {
    font-size: 20px;
    font-weight: $font-medium;
    color: $text;
    @include mx980 {
      font-size: 16px;
    }
    @include sp {
      margin-right: 25px;
    }
  }

  &__select-container {
    display: flex;
    align-items: center;
    gap: 25px;
    @include sp {
      gap: 0;
    }
  }

  &__input-default {
    border: 0;
    outline: 0;
    background: transparent;
    text-align: right;
    font: $font-regular 28px $font-oswald;
    @include mx980 {
      font-size: 20px;
    }
    @include sp {
      font-size: 24px;
      margin-left: 0;
      min-width: 100px;
    }
    @include mx375 {
      font-size: 22px;
    }

    &.hide{
      display: none;
    }

    &.tax{
      display: none;

      &.active {
        display: block;
      }
    }

    span {
      &:last-child {
        font-size: 19px;
        margin-left: 8px;
        @include sp {
          font-size: 16px;
        }
      }

      &.hidden {
        position: absolute;
        height: 0;
        width: 0;
        opacity: 0;
        visibility: 0;
      }
    }
  }

  &__select-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    @include sp {
      justify-content: flex-start;
    }
  }

  &__input-column {
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    display: flex;
    align-items: center;
    @include sp {
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &__input-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    gap: 30px;
    @include sp {
      width: 100%;
      flex-direction: row;
    }
    @include mx375 {
      gap: 0;
    }

    &--flexend {
      justify-content: flex-end;
      @include sp {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }
    }

    &.flex {
      flex-direction: column;
      @include sp {
        gap: 20px;
      }
    }
  }

  &__radio-wrap {
    user-select: none;
    position: relative;
    font-size: 20px;
    font-weight: $font-medium;
    color: $text;
    padding-left: 45px;
    @include mx980 {
      font-size: 16px;
      padding-left: 30px;
    }
    @include sp {
      font-size: 16px;
    }
    @include mx375 {
      font-size: 14px;
      padding-left: 30px;
    }
    @include mx300 {
      font-size: 12px;
    }

    &:first-child {
      @include sp {
        margin-right: 20px;
      }
    }
  }

  &__radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &__custom-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border: 3px solid #48637b;
    background-color: transparent;
    border-radius: 50%;
    @include mx980 {
      height: 20px;
      width: 20px;
    }
    @include sp {
      height: 25px;
      width: 25px;
    }
    @include mx375 {
      height: 20px;
      width: 20px;
    }

    &::after {
      content: "";
      position: absolute;
      display: none;
      top: 4px;
      left: 4px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #48637b;
      @include mx980 {
        top: 2px;
        left: 2px;
        width: 11px;
        height: 11px;
      }
      @include sp {
        top: 3px;
        left: 3px;
        width: 13px;
        height: 13px;
      }
      @include mx375 {
        top: 2px;
        left: 2px;
        width: 10px;
        height: 10px;
      }
    }
  }

  &__radio-wrap &__radio:checked ~ &__custom-radio::after {
    display: block;
  }

  &__details-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-width: 280px;
    gap: 30px;
    @include mx980 {
      min-width: 205px;
      gap: 15px;
    }
    @include sp {
      width: 100%;
      gap: 0;
      justify-content: flex-end;
    }

    &.flexend {
      justify-content: flex-end;
    }
  }

  &__discount-img {
    width: 158px;
    position: absolute;
    top: 90%;
    right: -2px;
    height: 50px;
    display: none;
    @include mx980 {
      height: auto;
      width: 116px;
    }
    @include sp {
      height: auto;
      width: 125px;
      right: -10px;
    }
    @include mx375 {
      height: auto;
      width: 100px;
      right: -2px;
    }

    &.show {
      display: block;
    }
  }

  &__details {
    font-size: 20px;
    font-weight: $font-medium;
    color: $text;
    @include mx980 {
      font-size: 14px;
    }
    @include sp {
      font-size: 16px;
      min-width: auto;
      margin-right: 15px;
    }
    @include mx375 {
      font-size: 14px;
    }
  }

  &__label {
    color: $blue;
    min-width: 335px;
    font-weight: $font-bold;
    margin: 0 30px 0 20px;
    font-size: 20px;
    @include mx980 {
      font-size: 16px;
      min-width: 255px;
      margin-right: 10px;
    }
    @include sp {
      min-width: 100%;
      margin-left: 0;
      font-size: 20px;
    }
    @include mx375 {
      font-size: 16px;
    }

    span {
      &.number {
        color: $text;
        margin-right: 10px;
      }
    }
  }

  &__options {
    font-size: 24px;
    font-weight: $font-bold;
    color: $text;
    @include sp {
      font-size: 20px;
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    h3 {
      font-size: 30px;
      width: 100%;
    }

    h4 {
      font-size: 20px;
      width: 100%;
    }
  }

  &__total-wrapper {
    padding: 65px 40px;
    background-color: #f1f1f1;
    position: relative;
    @include sp {
      padding: 80px 10px;
      margin-top: 50px;
    }
    @include mx375 {
      margin-top: 30px;
      padding: 55px 5px 5px;
    }
  }

  &__total-container {
    background-color: $white;
    padding: 10px;
    @include mx375{
      padding: 5px;
    }
  }

  &__total-text {
    font-size: 30px;
    text-align: right;
    width: 100%;
  }

  &__banner-total {
    width: 100%;
    height: 152px;
    position: relative;
    background: url('/img/simulator-total-banner.png') center no-repeat;
    background-size: cover;
    @include center;
    @include sp {
      height: 125px;
    }
    @include mx375 {
      height: 100px;
    }

    p {
      position: absolute;
      bottom: 5px;
      right: 65px;
      font-size: 20px;
      font-weight: $font-medium;
      color: $black;
      @include sp {
        right: 20px;
        font-size: 14px;
      }
      @include mx375 {
        right: 12px;
        font-size: 10px;
      }
    }
  }

  &__carret {
    position: absolute;
    top: 10px;
    z-index: 5;
    left: 50%;
    width: 200px;
    transform: translate(-50%, -50%);
    @include sp {
      top: 15px;
    }
    @include mx375 {
      width: 135px;
    }
  }

  &__summary-wrapper {
    margin: 40px 55px;
    overflow-x: auto;
    @include mx980 {
      margin: 20px;
    }
    @include sp {
      margin: 25px 0;
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  &__table-title {
    font-size: 26px;
    font-weight: $font-medium;
    color: $black;
    text-align: right;
    padding: 20px 0;
    background-color: #eee;
    @include mx980{
      font-size: 22px;
    }
    @include sp {
      font-size: 15px;
      text-align: center;
      line-height: 22px;
      padding: 10px 0;
    }
    @include mx375 {
      font-size: 13px;
    }
    @include mx300 {
      font-size: 9px;
      line-height: normal;
    }

    &.sp {
      display: none;
      @include sp {
        display: block;
      }
    }

    &:first-child {
      padding-left: 28px;
      text-align: left;
      @include sp {
        padding-left: 10px;
        text-align: center;
      }
      @include mx375{
        padding-left: 5px;
      }
    }

    &:last-child {
      padding-right: 28px;
      @include sp {
        padding-right: 10px;
        text-align: center;
      }
      @include mx375 {
        padding-right: 5px;
      }
    }
  }

  &__table-td {
    font: $font-medium 24px $font-oswald;
    color: #5b5b5b;
    text-align: right;
    padding: 20px 0;
    position: relative;
    @include mx980{
      font-size: 22px;
    }
    @include sp {
      font-size: 16px;
      width: 33.33%;
      padding: 10px 0;
      line-height: 22px;
    }
    @include mx375 {
      font-size: 12px;
    }
    @include mx300 {
      font-size: 8px;
      line-height: normal;
    }

    &.black {
      color: $black;
    }

    &:first-child {
      padding-left: 28px;
      text-align: left;
      @include sp {
        padding: 10px 5px 10px 10px !important;
      }
      @include mx375 {
        padding-left: 5px !important;
      }
    }

    &:last-child {
      padding-right: 28px;
      @include sp {
        padding-right: 10px;
      }
      @include sp {
        padding-right: 5px;
      }
    }

    &:nth-child(2){
      @include sp {
        padding-right: 5px !important;
      }
    }

    &.noborder {
      border-bottom: 4px solid $gray;

      &::after {
        display: none;
      }
    }

    &.right {
      text-align: right;
      font-size: 30px;
      font-family: $font-noto;
      @include sp {
        font-size: 22px;
      }
      @include mx375 {
        font-size: 18px;
      }
      @include mx300 {
        font-size: 14px;
      }
    }

    &.red {
      color: $red;
    }

    span {
      &:first-child {
        font-size: 36px;
        @include sp {
          font-size: 20px;
        }
        @include mx375 {
          font-size: 19px;
        }
        @include mx300 {
          font-size: 14px;
        }
      }

      &.hidden {
        position: absolute;
        height: 0;
        width: 0;
        opacity: 0;
        visibility: hidden;
      }

      &.noto {
        font-size: 22px;
        font-family: $font-noto;
        margin-left: 5px;
        @include sp {
          font-size: 14px;
        }
        @include mx375 {
          font-size: 12px;
        }
        @include mx300 {
          font-size: 8px;
          margin-left: 3px;
        }
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 0;
      width: 100%;
      height: 1px;
      background: url('/img/border-img.png') center no-repeat;
      background-size: cover;
      @include sp {
        background-size: auto;
      }
    }
  }

  &__total-label {
    font-size: 40px !important;
    font-weight: $font-medium;
    color: $black-33;
    @include sp {
      font-size: 28px !important;
    }
    @include mx375 {
      font-size: 22px !important;
    }
    @include mx300 {
      font-size: 16px !important;
    }
  }

  &__total-expense {
    font: $font-regular 50px $font-oswald !important;
    @include mx980 {
      font-size: 40px !important;
    }
    @include sp {
      font-size: 25px !important;
    }
    @include mx375 {
      font-size: 20px !important;
    }
    @include mx300 {
      font-size: 15px !important;
    }

    span {
      &.noto {
        font: $font-medium 22px $font-noto;
        color: $text;
        margin-left: 5px;
        @include sp {
          font-size: 20px;
        }
      }
    }
  }
}
